.topFixedbanner {
    background-image: url(../img/aurora.jpg);
    min-width: 1000px;
    min-height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.topFixedOverly {
    position: absolute;
    width: 100%;
	height: 600px;
    background-color: rgba(225, 218, 211, 0.3);
}

/* Breadcrumb Starts */


.bread{
    background:#dbd1c6;
    color: #49667B;
    padding-top:60px;
    min-height:150px;
}
    

.bread #branding{
    float:left;

}
.bread #branding h1{
    margin: 0;
}


/* Breadcrumb Ends */